* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: Lobster;
  font-size: 175%;
}

h2 {
  text-align: center;
  border: 2px solid;
  border-width: 0 0 2px 2px;
  margin: 0 0 8% 70%;
  font-family: Lobster;
  font-size: 125%;
}

p {
  padding: 0.5rem 1rem;
  line-height: 1.5;
  font-family: montserrat;
}

.container {
  padding: 3rem;
}

.chicken,
.beef,
.sushi {
  border: 2px solid;
  background-color: grey;
}

.chicken-header {
  background-color: rgb(231, 145, 117);
}

.beef-header {
  color: white;
  border-color: black;
  background-color: rgb(156, 30, 30);
}

.sushi-header {
  background-color: rgb(251, 251, 153);
}

/* Large Screens */

@media (min-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
  }
}

/* Medium Screens */

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "chicken beef"
      "sushi sushi";
    column-gap: 1rem;
    row-gap: 1rem;
  }
  .chicken {
    grid-area: chicken;
  }
  .beef {
    grid-area: beef;
  }
  .sushi {
    grid-area: sushi;
  }
}

/* Small Screens */

@media (max-width: 991px) {
  .container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1rem;
  }
}
